#comments {
    width: 500px;
    height: 100px;
}

.phones {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 50%;
}



body {
    background-color: rgb(218, 226, 253);
    color: rebeccapurple;
}

.price {
    text-transform: uppercase;
    font-weight: bold;
}

.tableTitle {
    text-transform: uppercase;
    font-weight: bolder;
}

footer {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(129, 129, 129);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* Height of the footer */
    background: #6cf;
    background-color: rgb(81, 40, 93);
}